* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
}

.container {
    width: 375px;
    height: 900px;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.content {
    padding: 20px;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0; /* Задний план */
}

.main-image {
    width: 300px;
    max-height: 300px;
    position: relative;
    z-index: 1; /* Средний план */
    margin-top: 2.7cm;
}

.logo {
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    width: 3.5cm;
    position: absolute; 
    top: 20px; 
    left: 0.5cm; 
    z-index: 2; 
}


h1 {
    color: white; 
    margin: 50px 0;
}

p {
    color: white; 
    margin-bottom: 20px; 
}


button {
    background-color: #ffffff; 
    color: hsl(257, 40%, 49%); 
    padding: 10px 20px; 
    border: none; /* Без рамки */
    border-radius: 20px; /* Закругленные углы */
    cursor: pointer; /* Указатель мыши */
    transition: background-color 0.3s; /* Плавный переход фона */
    width: 5.5cm;
}

button:hover {
    background-color: hsl(257, 100%, 73%); /* Более темный красный при наведении */
}