* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(229, 229, 229);
  }
  
  .container {
    display: flex; 
    gap: 20px; 
  }
  
  .white-dog {
    flex: 1; 
  }
  
  .images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    flex: 1; 
    min-height: 50%;
  }
  
  .images-grid img {
    width: 100%; 
  }
  
  .white-dog img {
    width: 100%; 
  }
