* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(229, 229, 229);
  }
  
  .container {
    display: flex; /* Используем flexbox для размещения элементов */
    gap: 20px; /* Пробелы между элементами */
  }
  
  .white-dog {
    flex: 1; /* Занимает 1 часть пространства */
  }
  
  .images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Сетка для картинок 2x2 */
    flex: 1; /* Занимает 1 часть пространства */
    min-height: 50%;
  }
  
  .images-grid img {
    width: 100%; /* Картинки занимают 100% от колонки */
  }
  
  .white-dog img {
    width: 100%; /* Собаки занимают 100% от колонки */
  }