.tv-series-container {
    padding: 20px;
    background-color: #161d2f;
    color: #fff;
    font-family: "Outfit", sans-serif;
    text-align: left;
  }
  
  .tv-series-title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: 'Outfit', sans-serif;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  @media (min-width: 1228px) {
    .card-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 768px) and (max-width: 930px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
  